<div
  class="row"
  (click)="onClickDep(department)"
  (depSelected)="handleClick($event)"
  [ngClass]="{
    selected: department.childSelected > 0 || department.isSelected
  }"
>
  <span
    ><i
      class="fa fa-angle-down"
      *ngIf="department.Children.length > 0; else other_content"
    ></i
    ><ng-template #other_content><i class="fa fa-angle-right"></i></ng-template
  ></span>

  <span [ngStyle]="{ 'border-left': '2px solid ' + department.Color }">{{
    department.Title
  }}</span>
  <span *ngIf="department.Children.length > 0">{{
    department.childSelected + "/" + getNumOfChildren(department)
  }}</span>
  <span *ngIf="department.childSelected > 0 || department.isSelected"
    ><i class="fa fa-check"></i
  ></span>
</div>

<ul class="main-list" [hidden]="!department.showChildren">
  <li *ngFor="let dep of department.Children; index as i">
    <app-department-item
      [department]="dep"
      (depSelected)="handleClick($event)"
      (preSelected)="handlePreselect($event)"
    ></app-department-item>
  </li>
</ul>
