/* You can add global styles to this file, and also import other style files */
.main-list {
  background-color: #333333;
  color: #7e7e7e;
}

li {
  list-style: none;
  cursor: pointer;
  padding: 5px;
}

span {
  margin-left: 10px;
  padding-left: 10px;
}

.selected {
  color: white;
}
